/**
 * custom
 * place custom style in this file
 * add !important to the end if no effect
 * e.g. color: #fff !important;
 * --------------------------------------------------
 *
 */

h1.section-title {
  color: #12a6f1;
  font-weight: 600;
}

h1.section-title span.color {
  font-family: "Ahellya Regular", "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 34px;
  font-weight: normal;
  color: #ffffff;
}

@media (min-width: 768px) {
  h1.section-title span.color {
    line-height: 1.1;
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  h1.section-title span.color {
    line-height: 1.05;
    font-size: 60px;
  }
}

h2.section-title {
  font-weight: 600;
  font-size: 26px;
}

@media (min-width: 992px) {
  h2.section-title {
    font-weight: 500;
    font-size: 40px;
  }
}

#about {
  padding: 65px 0;
}

@media (min-width: 992px) {
  #about {
    padding: 130px 0;
    background-color: #f5f5f5;
  }
}

.videopad {
    padding-top: 40px;
}

@media (min-width: 768px) {
.videopad {
    padding-top: 0px;
}
}

#download .section-overlay {
  background-color: rgba(30, 31, 37, 0.2);
}

@media (min-width: 992px)
.btn {
    padding: 32px 38.5px 32px 40px;
}
